/**
 * print.css
 **/

/* print style sheet based on bettermotherfuckingwebsite.com */

    a {
        text-decoration: none;
    }
    a:after {
        content:" ["attr(href)"]";
    }
	#sidenav {
		display: none;
	}
	#copyright-notice {
		display: none;
	}
	.uk-logo {
		display: none;
	}
	.uk-hidden {
		display: block !important;
	}
    .feather {
        display: none;
    }

