/**
 * style.css
 **/


.main-content {
    height: 100%;
}
.bar-wrap {
    padding: 2rem;
}
.nav-logo {
    height: 2rem;
    width:  2rem;
    margin: 0.5rem 1rem 0.5rem 0;
}
.menu {
    opacity: 0;
    margin-left: -40px;
}

#sidenav {
    position: fixed;
    left: 0;
    top:0;
    bottom:0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #222;
    width: 260px;
    z-index:1;
}
#content {
    margin-left: 260px;
    height: 100%;
}
#my-location {
    height: 300px;
}

.feather {
    height: 1.2em;
}
.icon-med {
    height: 2em;
}
.icon-lg {
    height: 3em;
}
    a {
        text-decoration: none;
    }
    a:after {
        content:" ["attr(href)"]";
    }
	#sidebar {
		display: none;
	}
	#copyright-notice {
		display: none;
	}
	.uk-logo {
		display: none;
	}
	.uk-hidden {
		display: block !important;
	}
}
