<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/assets/images/glyder.ico">

    <link rel="stylesheet" type="text/css" href="assets/css/uikit/uikit.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
 <!-- side navigation bar -->
 <div class="uk-light" id="sidenav">
  <div class="uk-clearfix">
    <a class="uk-navbar-item uk-float-left menu" id="menu-sidenav" href="#sidenav" onclick="toggleSidenav()"><span data-feather="arrow-left">close menu</span></a>
  </div>
  <div class="bar-wrap">
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="">
      <li class="uk-nav-header">Site map</li>
      <li>
        <a href="/"><span class="uk-margin-right" data-feather="home">home</span>Home</a>
      </li>
      <li>
        <a href="/about"><span class="uk-margin-right" data-feather="info">info</span>About</a>
      </li>
      <li>
        <a href="/contact"><span class="uk-margin-right" data-feather="user">user</span>Contact</a>
      </li>
      <li>
        <a href="/resume"><span class="uk-margin-right" data-feather="file">file</span>Résumé</a>
      </li>
      <li class="uk-parent">
        <a href="#"><span class="uk-margin-right" data-feather="cpu">box</span>Projects</a>
        <ul class="uk-nav-sub">
          <li>
            <a href="/projects#code">Code</a>
          </li>
          <li>
            <a href="/projects#pres">Presentations</a>
          </li>
          <li>
            <a href="/projects#art">Art</a>
          </li>
        </ul>
      </li>
      <li class="uk-parent">
        <a href="#"><span class="uk-margin-right" data-feather="edit-3">pencil</span>Blog</a>
        <ul class="uk-nav-sub">
          <li>
            <a href="./blog.html">Ramblings</a>
          </li>
          <li>
            <a href="/blog#microblog">Micro-blogs</a>
          </li>
          <li>
            <a href="/blog#coop">Co-op Reflections</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/awards"><span class="uk-margin-right" data-feather="award">award</span>Awards</a>
      </li>
      <li class="uk-nav-header">Other links</li>
      <li>
        <a href="mailto:athf.flcl@gmail.com" target="_blank"><span class="uk-margin-right" data-feather="mail">mail</span>Email</a>
      </li>
      <li>
        <a href="https://github.com/script-cowboy" target="_blank"><span class="uk-margin-right" data-feather="github">github</span>GitHub</a>
      </li>
      <li>
        <a href="https://twitter.com/keyboard-cowboy" target="_blank"><span class="uk-margin-right" data-feather="twitter">twitter&gt;</span>Twitter</a>
      </li>
    </ul>
    <!-- copyright year -->
    <div id="copyright" class="uk-section uk-position-relative uk-position-bottom">
        <div class="uk-clearfix">
          <div class="uk-float-left">© 2015-2019</div>
          <div class="uk-float-right"><a href="#copyright-notice" uk-toggle="">Notice</a></div>
        </div>
    </div>
  </div>
</div>
<body>
    
    <header>
        <div class="container">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
  
          <section id="downloads">
          </section>
        </div>
      </header>
  
      <div class="container">
        <section id="main_content">
          {{ content }}
          
        </section>
      </div>
      <iframe scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/widget_iframe.0639d67d95b7680840758b6833f06d87.html?origin=https%3A%2F%2Fkrourke.org" title="Twitter settings iframe" style="display: none;"></iframe>
      <div id="copyright-notice" class="uk-modal-container" uk-modal="">
  
          <h2 class="uk-modal-title">Copyright notice</h2>
          <p><br>
          All opinions are my own and do not represent any entity other than myself.  
          All code found on this website is subject to the terms under which it is licensed. See each project for more specific details.</p>
          <p>Built using open-source software. This page is rendered using <a href="https://getuikit.com" target="_blank">UI Kit</a> and <a href="https://feathericons.com" target="_blank">Feather Icons</a>, and is readily served by <a href="https://pages.github.com/" target="_blank">GitHubPages</a>.</p>
        </div>

  
    <div class=" uk-container ">
      <h1 class="code">std::blog</h1>
      <p>Just a standard tech blog. Software, code, open-source, a splash of humour. Below you will find the written musings and longer-form ramblings of a computer geek. Blog entries are infrequently posted, but I update when I can
      <ul uk-tab="">
        
          <a href="#ramblings">Ramblings</a>
        
       
          <a href="#microblog">Micro-blogs</a>
       
        
      </ul>
      <ul id="blog-index" class="uk-switcher">
        <li id="ramblings">
          <div class="uk-child-width-1-1 uk-child-width-1-2@l uk-margin-bottom" uk-grid="masonry: true">
            <div id="20180707">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                  <div class="uk-card-badge">
                    07 July 2018
                  </div>
                  <h3 class="uk-card-title uk-margin-top">MLH Ethical Tech Initiative Scholarship</h3>
                  <p>I am incredibly honoured to announce that I am the winner of the 2018 Major League Hacking Ethical Tech Initiative!</p>
                </div>
                <div class="uk-card-footer">
                  <a href="/blog/180707-mlh-ethical-tech" class="uk-button uk-button-text">Keep Reading</a>
                </div>
              </div>
            </div>
            <div id="20171121">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                  <div class="uk-card-badge">
                    21 Nov 2017
                  </div>
                  <h3 class="uk-card-title uk-margin-top">Reflections as an Undergraduate Research Assistant</h3>
                  <p>Over the past year or so I've been fortunate enough to work with a group of really amazing people at the University Guelph. This post summarizes in a high-level overview my experiences working for the University, and how I've grown as a software developer and academic since October of 2016.</p>
                </div>
                <div class="uk-card-footer">
                  <a href="/blog/171121-reflections" class="uk-button uk-button-text">Keep Reading</a>
                </div>
              </div>
            </div>
            <div id="20170517">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                  <div class="uk-card-badge">
                    17 May 2017
                  </div>
                  <h3 class="uk-card-title uk-margin-top">I went to OCE Discovery</h3>
                  <p>No, I am not a business person. Yes, I went to a business conference. This post honestly overview my experiences at one of the biggest yearly conferences in Ontario, and how — by some dumb luck and with a bit of elbow grease — I ended up being there.</p>
                </div>
                <div class="uk-card-footer">
                  <a href="/blog/170517-discovery" class="uk-button uk-button-text">Keep Reading</a>
                </div>
              </div>
            </div>
            <div id="20170326">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                  <div class="uk-card-badge">
                    26 Mar 2017
                  </div>
                  <h3 class="uk-card-title uk-margin-top">Gimme your cookies!</h3>
                  <p>This blog post overviews some web security basics and demonstrates how cookies (unfortunately not the snack ) can be stolen with less than 10 lines of code.</p>
                </div>
                <div class="uk-card-footer">
                  <a href="/blog/170326-xss" class="uk-button uk-button-text">Keep Reading</a>
                </div>
              </div>
            </div>
            <div id="20161201">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                  <div class="uk-card-badge">
                    01 Dec 2016
                  </div>
                  <h3 class="uk-card-title uk-margin-top">Experimenting with Ubuntu Touch</h3>
                  <p>Android has been pissing me off lately, and I wanted something new: Ubuntu Touch. In this article, I explore Canonical's mobile operating system, review some issues and some awesome things, and explain some hacky things you can do for fun.</p>
                </div>
                <div class="uk-card-footer">
                  <a href="/blog/161201-ubuntu-touch" class="uk-button uk-button-text">Keep Reading</a>
                </div>
              </div>
            </div>
            <div id="20161108">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                  <div class="uk-card-badge">
                    08 Nov 2016
                  </div>
                  <h3 class="uk-card-title uk-margin-top">La Capitaine</h3>
                  <p>La Capitaine, my custom icon theme for Linux desktops, is now the most popular grossing icon theme on OpenDesktop!</p>
                </div>
                <div class="uk-card-footer">
                  <a href="/blog/161108-capitaine" class="uk-button uk-button-text">Keep Reading</a>
                </div>
              </div>
            </div>
            <div id="20160919">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                  <div class="uk-card-badge">
                    19 Sept 2016
                  </div>
                  <h3 class="uk-card-title uk-margin-top">Gelato Labs</h3>
                  <p>Introducing Gelato Labs, a small, open-source game development lab! We write dumb software so you don't have to (feel free to join us).</p>
                </div>
                <div class="uk-card-footer">
                  <a href="/blog/160919-gelatolabs" class="uk-button uk-button-text">Keep Reading</a>
                </div>
              </div>
            </div>
            <div id="20160919">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                  <div class="uk-card-badge">
                    22 Mar 2016
                  </div>
                  <h3 class="uk-card-title uk-margin-top">XMPP and a little bird</h3>
                  <p>XMPP is a robust, free and open-source protocol for instant messaging. Pidgin is a pretty (and useful!) client.</p>
                </div>
                <div class="uk-card-footer">
                  <a href="/blog/160322-xmpp" class="uk-button uk-button-text">Keep Reading</a>
                </div>
              </div>
            </div>
            <div id="20160919">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                  <div class="uk-card-badge">
                    02 Feb 2016
                  </div>
                  <h3 class="uk-card-title uk-margin-top">Social Media Alternatives</h3>
                  <p>I think social media giants are at least a little bit evil. Here's why, and I'm doing about it.</p>
                </div>
                <div class="uk-card-footer">
                  <a href="/blog/160202-tokumei" class="uk-button uk-button-text uk-margin-right">Keep Reading</a> <a href="/projects/code/tokumei" class="uk-button uk-button-text">See Project</a>
                </div>
              </div>
            </div>
            <div id="20160919">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                  <div class="uk-card-badge">
                    25 July 2015
                  </div>
                  <h3 class="uk-card-title uk-margin-top">I'll huff and I'll puff</h3>
                  <p>As part of my high school computer science course work, I studied and implemented the Huffman lossless compression algorithm in a C++ program, which I dubbed "huffpuff". This blog entry is about that experience. This brief article will function as an introduction to lossless compression algorithms, and go into more specific details about Huffman coding, what it does, and how it was implemented.</p>
                </div>
                <div class="uk-card-footer">
                  <a href="/blog/150725-huffpuff" class="uk-button uk-button-text">Keep Reading</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li id="microblog">
          <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-margin-bottom" uk-grid="masonry: true">
            <div>
              <a class="twitter-timeline" data-height="300" data-dnt="true" data-theme="dark" data-link-color="#40a7f5" href="https://twitter.com/keyboard_cowb0y?ref_src=twsrc%5Etfw"></a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
        </div>
        </li>
        
      </ul>
    </div>
  </div>
  <script src="/js/uk/uikit.min.js"></script>
  <script src="/js/feather-icons/feather.min.js"></script>
  <script src="/js/index.js"></script>
  <script type="text/javascript">
    function toggleTab(e) {
      if (window.location.href.indexOf('#ramblings') > -1) {
        UIkit.tab('.uk-tab').show(0);
      } else if (window.location.href.indexOf('#microblog') > -1) {
        UIkit.tab('.uk-tab').show(1);
      } else if (window.location.href.indexOf('#coop') > -1) {
        UIkit.tab('.uk-tab').show(2);
      }
    }
    document.addEventListener("DOMContentLoaded", toggleTab);
    window.onhashchange = toggleTab;
  </script>

</body>

</html>
